/* Bouton en haut à gauche de la page */
.upperPageButton {
    margin: 2rem;
    margin-bottom: 10px;
}
.upperButton span {
    padding: 6px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(70deg, #4D4ACC 0%, #817EFF 100%);
    border-radius: 4px;
}

.searchBar {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chooseSolutionContainer {
    margin-top: 10px;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.solutionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.solutionContainer {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243, 243, 243);
    color: black;
    border-radius: 10px;
}

.solutionImg {
    width: 30%;
    height: 10rem;
}
.solutionImg img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.solutionTextContainer {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.solutionTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 0.6rem 0;
}
.solutionDescription {
    font-size: 1rem;
    width: 94%;
    text-align: center;
}

.noResult {
    width: 100%;
    color: red;
    text-align: center;
    font-size: 1.2rem;
}




@media screen and (min-width: 576px) {
    .solutionDescription {
        width: 70%;
    }
}

@media screen and (min-width: 996px) {
    
}

@media screen and (min-width: 1200px) {
    
}