        /* HEADER */
/* Paramètre et background du header */
header {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    background: linear-gradient(180deg, #4D4ACC 0%, #817EFF 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.3));
}


    /* Navbar */

/* Logo */
.logo {
    width: 132px;
    height: auto;
}

/* Lien du logo (pour qu'il soit aligner avec le menu burger) */
.linkLogo {
    margin-top: 7px;
}

/* Container de la navbar entière (logo et barre de nav) */
.navbarContainer {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

/* Container des liens de la navbar */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-left: 0;
}

/* Liens de la navbar */
.nav-link {
    transition: 0.7s ease;
    color: white;
}

/* Survol des liens de la navbar */
.nav-link:hover {
    color: rgb(200, 200, 200);
}

/* Container des barres du bouton */
.burger {
    display: none;
    cursor: pointer;
}

/* Barre du bouton menu burger */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

/* Media pour la responsivité du menu burger */
@media screen and (max-width: 768px) {
    /* Affichage du bouton */
    .burger {
        display: block;
    }

    /* Animation du bouton au clique */
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Affichage du menu */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(24, 24, 24, 0.97);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    /* Espacement des liens quand le menu est ouvert */
    .nav-item {
        margin: 10px 0;
    }

    /* Emplacement du menu (ouvert) */
    .nav-menu.active {
        left: 0;
    }
}


@media screen and (min-width: 576px) {
    .nav-menu {
        top: 74px;
    }
}









        /* FOOTER */
/* Paramètre et background du footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 117.5px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 12px;
    background: linear-gradient(0deg, #4D4ACC 0%, #817EFF 100%);
    filter: drop-shadow(0px -5px 8px rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

/* Lien du CV en blanc */
.tp1zdlQ, .tp1zdlQ a {
    font-size: 0.9rem;
    color: #fff;
}

/* Titre des lignes dans le footer */
.footerTextTitle {
    font-size: 1.1rem;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 0;
}

/* Paramètres pour la deuxième ligne */
.rowFooter2 {
    height: auto;
    align-items: center;
    margin-top: 5px;
}

/* Container des images des réseaux sociaux */
.socialImgContainer img {
    width: 22px;
    margin: 0 5px;
}

/* Paramètre pour la troisième ligne */
.rowFooter3 {
    margin-top: 5px;
}

/* Retrait du soulignement de "Lavag'Eco" */
.partnerContainer a {
    text-decoration: none;
}

/* Lien vers le partenaire */
.lavagEco {
    width: auto;
    height: auto;
    padding: 4px 8px;
    background-color: #242424;
    color: white;
    font-size: 0.8rem;
}

/* Retrait de la marge en bas du texte */
.lavagEco p {
    margin: 0;
}

/* Paramètre de la quatrième ligne */
.rowFooter4 {
    margin-top: 5px;
    font-size: 0.8rem;
    width: auto;
    align-self: flex-start;
}

/* Retrait du soulignement et texte blanc des liens */
.rowFooter4 a {
    color: #fff;
    text-decoration: none;
}

.rowFooter4 a:first-child {
    margin-right: 16px;
}