/* Ajout de la police "Varela" */
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

/* Retrait des marges intérieur et éxtérieur */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

/* Police par défaut du site */
body {
    font-family: 'Varela', sans-serif;
}


                /* RESSOURCE */

/* Titre des pages */
.pageTitle {
    font-size: 2.4rem;
    margin: 0 20px 20px;
    text-align: center;
}

/* Titre des séctions */
.sectionTitle {
    font-size: 2rem;
    margin: 20px;
    text-align: center;
}

/* Ligne séparatrice */
.line {
    width: 70%;
    max-width: 800px;
    height: 3px;
    margin: auto;
    background: linear-gradient(270deg, #4D4ACC 0%, #817EFF 100%);
}

/* Paragraphe dans la page d'accueil */
.paragraphHome {
    max-width: 900px;
    font-size: 1.5rem;
    margin: 0 25px;
    text-align: center;
}




    /* Décoration */
.no-decoration {
    text-decoration: none;
    list-style: none;
}




    /* Marge */

/* Marge en haut de 10px */
.margin-top-10px {
    margin-top: 10px;
}

/* Marge en haut de 20px */
.margin-top-20px {
    margin-top: 20px;
}

/* Marge en bas de 10px */
.margin-bottom-10px {
    margin-bottom: 10px;
}

/* Marge en bas de 20px */
.margin-bottom-20px {
    margin-bottom: 20px;
}


    /* Display */

/* Display flex / row */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* Display flex / row / space between */
.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Display flex / column */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}